# MATH 210 Introduction to Mathematical Computing

## January 10, 2018

1. Standard Python Datatypes
2. Numbers
    * Integers
    * Floats
    * Complex Numbers
3. Sequences
    * Lists
    * Tuples
4. Variables

## 1. Standard Python Datatypes

Data comes in many forms such as numbers, sequences and text. We start with introducing standard Python datatypes integers, floats, lists and tuples and how to use them. Check out the [Python 3 documentation](https://docs.python.org/3/).

## 2. Numbers

There are three main numeric types: integers, floats and complex numbers. We have the usual arithmetic operators: addition `+`, subtraction `-`, multiplication `*`, division `/` and exponentiation `**`.

### Integers

In [1]:
2 + 2

4

Notice that division of integers always returns a float:

In [2]:
123456 / 789

156.47148288973384

Even if the mathematical result is an integer:

In [3]:
9 / 3

3.0

In [4]:
4 * 9

36

In [5]:
7**2

49

In [6]:
12**2

144

Use the builtin function `type` to check the type of a number:

In [7]:
type(2018)

int

In [8]:
type(2018.0)

float

### Floating Point Numbers

A float is a real number written in decimal form.

In [9]:
2 * 3.14159

6.28318

In [10]:
1.414 ** 2

1.9993959999999997

The MacLaurin series of $\sin x$ is

$$
\sin x = \sum_{k=0}^{\infty} (-1)^k \frac{x^{2k + 1}}{(2k + 1)!}
$$

Let's approximate $\sin(1)$ using the degree 7 Taylor polynomial:

In [11]:
1 - 1/(3*2) + 1/(5*4*3*2) - 1/(7*6*5*4*3*2)

0.841468253968254

### Complex Numbers

Use the letter `j` for $j = \sqrt{-1}$ to create complex numbers in Python. Or use the builtin function `complex`.

In [12]:
1+1j

(1+1j)

In [13]:
complex(1,1)

(1+1j)

In [14]:
(2-3j) * (4 - 1j)

(5-14j)

In [15]:
1 / 1j

-1j

In [16]:
type(4 + 2j)

complex

### More arithmetic operators

The modulo operator `%` computes the remainder and the operator `//` is integer division.

In [17]:
12 % 5

2

In [18]:
169 % 13

0

In [19]:
2017 % 31

2

In [20]:
101 // 8

12

In [21]:
8 * 12 + (101 % 6)

101

## 3. Sequences

There are several kinds of sequence types in Python. We introduce lists, tuples and range objects.

### Lists

Use square brackets with commas to create a list:

In [22]:
[1,2,3,4,5,6,7,8,9]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
type([1,0,1,0,1])

list

In [24]:
[[1,1],[1,2],12345]

[[1, 1], [1, 2], 12345]

### Tuples

Use round parentheses with commas to create a tuple:

In [25]:
(1,2,3)

(1, 2, 3)

In [26]:
type((9,9,9,9,9,9))

tuple

The difference between lists and tuples is technical and we'll discuss it later.

## 4. Variables

We use variables to store data so that we can reuse data over and over again in our programs. The equal sign `=` is the assignment operator and it points the variable name to the data it's assigned to.

In [27]:
x = [1,2,3]

In [28]:
type(x)

list

In [29]:
this_is_a_variable_name = 3.14159

In [30]:
this_is_a_variable_name ** 2

9.869587728099999

In [31]:
this_is_a_variable_name ** 3

31.006198110721677

In [32]:
type(this_is_a_variable_name)

float